<app-header title="Confirm the transaction" [backButtonUrl]="['/send']" />

@if (quote(); as quote) {
  <div class="mb-4">
    @if (baseValue(); as base) {
      <h3 hlmH3 class="text-4xl">
        {{ base.amount | currency: base.currency }}
      </h3>
    }
    <p hlmMuted>USDC {{ quote.usdc_amount | currency: "" : "" }}</p>
    <p hlmMuted>Fees (USDC): {{ quote.usdc_fees | currency: "" : "" }}</p>

    @if (counterValue(); as counter) {
      <p hlmMuted>
        Counter: {{ counter?.amount | currency: counter?.currency }}
      </p>
    }
  </div>
}

<app-submit-button
  [loading]="loading()"
  submitIcon="lucideSend"
  submitText="Send"
  (clicked)="next()"
/>
