<app-header title="Confirm the transaction" [backButtonUrl]="['/send']" />

@if (quote(); as quote) {
  <div class="mb-4">
    <h3 hlmH3 class="text-4xl">
      {{ quote.secondary_currency_quote | currency: "" }}
    </h3>
    <p hlmMuted>USDC {{ quote.usdc_amount | currency: "" : "" }}</p>
    <p hlmMuted>Fees (USDC): {{ quote.usdc_fees | currency: "" : "" }}</p>
    <p hlmMuted>Total: {{ quote.amount | currency: quote.amountCurrency }}</p>
  </div>
}

<app-submit-button
  [loading]="loading()"
  submitIcon="lucideSend"
  submitText="Send"
  (clicked)="next()"
/>
